@{
    ViewData["Title"] = "Home Page";
}

<a class="btn btn-success" asp-controller="Home" asp-action="YasGrubu">Yaş Grubu Hesaplama</a>
<a class="btn btn-success" asp-controller="Home" asp-action="CreateProduct">CreateProduct</a>

@* <form asp-controller="Home" asp-action="VerileriAl" method="post">f
    <label >Ad</label>
    <input type="text" name="txtAd" id="">
    <label >Yaş</label>
    <input type="text" name="txtYas" id="">
    <input type="submit" value="Gönder"> 
    <button type="submit">Gönder</button>
</form> *@
