@* Bu sayfalar içerisinde C# kodları ile HTML kodlarını birlikte yazmamızı sağlar.
    Bunlara Razer page denir.MVC yapısı içinde View Olarak da adlandırılır.

 *@
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">HoşGeldiniz!</h1>
    <p>Bu paragrafı biz</p>
    <button class="btn btn-danger">EKLE</button>
    <button class="btn btn-success">SİL</button>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
