<form 
    asp-area="Admin"
    asp-controller="Home"
    asp-action="SearchAdmin"
    class="d-flex justify-content-end">
    <input class="form-control me-2" name="bul" placeholder="Ara ..." aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Ara</button>
</form>