<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Product" asp-action="Index">Product</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="City" asp-action="Index">City</a>
</li>