<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Kitabevi" asp-action="Kategori">Kategoriler</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Kitabevi" asp-action="Yazarlar">Yazarlar</a>
</li>
<li class="nav-item">
    <a class="nav-link text-dark" asp-area="" asp-controller="Kitabevi" asp-action="Kitaplar">Kitaplar</a>
</li>
