@model List<Yazar>
@{
    ViewData["Title"] = "Yazarlar";
}
<h1 class="display-6">Kitaplar Listesi</h1>
<hr>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Id</th>
            <th>Adı</th>
            <th>Doğum Yılı</th>
            <th>Cinsiyeti</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var y in Model)
        {
            <tr>
                <td>@y.Id</td>
                <td>@y.Ad</td>
                <td>@y.DogumYili</td>
                <td>@y.Cinsiyet</td>
                
            </tr>
        }
    </tbody>
</table>